<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joy1joy.app.dao.TAtCollectMapper">
	<insert id="insertTAtCollect" parameterType="TAtCollect">
		insert into
		t_at_collect(id,at_id,uid,collect_time)values(null,#{atid},#{uid},#{collectTime})
	</insert>
	<delete id="deleteTAtCollect">
		delete from t_at_collect where id=#{id}
	</delete>
	<select id="selectTAtCollect" parameterType="TAtCollect"
		resultType="TAtCollect">
		select id,at_id as atid,uid from t_at_collect where 1=1 and
		at_id=#{atid}
		and uid=#{uid}
	</select>

	<select id="selectByUserid" parameterType="java.lang.Integer"
		resultType="CollectAtResult">
		select t1.id,t1.at_id as
		atid,t2.name,t1.uid,t1.collect_time as collectTime from t_at_collect
		t1,t_activities t2 where 1=1 and t1.at_id=t2.id and
		uid=#{uid}
	</select>
</mapper>